{% extends 'base.html' %}
{% block title %}
Mapa de Calor - Dataware Housing Cotas
{% endblock title %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
       <fieldset>
          <legend><h3>Filtros</h3></legend>

           <p>
             <label>Tipo Cota</label>
             <select id="TipoCota" name="TipoCota">
                 <option value="Todos">Todos</option>
                 <option value="Cotista">Cotista</option>
                 <option value="NCotista">Não Cotista</option>
             </select>
          </p>

          <p>
             <label>Categoria Administrativa</label>
             <select id="CategoriaAdministrativa" name="CategoriaAdministrativa">
                 <option value="Todos">Todos</option>
                 {% for catAdmin in dimCategoriaAdministrativa %}
                    <option value="{{ catAdmin.id_categoria_administrativa }}">{{ catAdmin.no_categoria_administrativa }}</option>
                 {% endfor %}
             </select>
          </p>

           <p>
             <label>Cor Raça</label>
             <select id="CorRaca" name="CorRaca">
                 <option value="Todos">Todos</option>
                 {% for corRaca in dimCorRaca %}
                    <option value="{{ corRaca.id_cor_raca }}">{{ corRaca.nome }}</option>
                 {% endfor %}
             </select>
          </p>

           <p>
             <label>Curso</label>
             <select id="Curso" name="Curso">
                 <option value="Todos">Todos</option>
                 {% for fatoCotasCurso in fatoCotasDimCurso %}
                    <option value="{{ fatoCotasCurso.fk_curso }}">{{ fatoCotasCurso.fk_curso__descricao }}</option>
                 {% endfor %}
             </select>
          </p>

           <p>
             <label>IES</label>
             <select id="Ies" name="Ies">
                 <option value="Todos">Todos</option>
                 {% for fatoCotasIes in fatoCotasDimIes %}
                    <option value="{{ fatoCotasIes.fk_ies }}">{{ fatoCotasIes.fk_ies__no_ies }}</option>
                 {% endfor %}
             </select>
          </p>

           <p>
             <label>Local Oferta</label>
             <select id="LocalOferta" name="LocalOferta">
                 <option value="Todos">Todos</option>
                 {% for fatoCotasLocalOferta in fatoCotasDimLocalOferta %}
                    <option value="{{ fatoCotasLocalOferta.fk_local_oferta }}">({{ fatoCotasLocalOferta.fk_local_oferta }}) - {{ fatoCotasLocalOferta.fk_local_oferta__no_municipio }} - {{ fatoCotasLocalOferta.fk_local_oferta__no_uf }}</option>
                 {% endfor %}
             </select>
          </p>

           <p>
             <label>Modalidade Ensino</label>
             <select id="ModalidadeEnsino" name="ModalidadeEnsino">
                 <option value="Todos">Todos</option>
                 {% for modalidadeEnsino in dimModalidadeEnsino %}
                    <option value="{{ modalidadeEnsino.id_modalidade_ensino }}">{{ modalidadeEnsino.no_modalidade_ensino }}</option>
                 {% endfor %}
             </select>
          </p>

           <p>
             <label>Organização Acadêmica</label>
             <select id="OrganizacaoAcademica" name="OrganizacaoAcademica">
                 <option value="Todos">Todos</option>
                 {% for organizacaoAcademica in dimOrganizacaoAcademica %}
                    <option value="{{ organizacaoAcademica.id_organizacao_academica }}">{{ organizacaoAcademica.no_organizacao_academica }}</option>
                 {% endfor %}
             </select>
          </p>

           <p>
             <label>Sexo</label>
             <select id="Sexo" name="Sexo">
                 <option value="Todos">Todos</option>
                 {% for sexo in dimSexo %}
                    <option value="{{ sexo.id_sexo }}">{{ sexo.nome }}</option>
                 {% endfor %}
             </select>
          </p>

           <p>
             <label>Situação Aluno</label>
             <select id="SituacaoAluno" name="SituacaoAluno">
                 <option value="Todos">Todos</option>
                 {% for situacaoAluno in dimSituacaoAluno %}
                    <option value="{{ situacaoAluno.id_situacao_aluno }}">{{ situacaoAluno.no_situacao_aluno }}</option>
                 {% endfor %}
             </select>
          </p>

           <p>
             <label>Tempo</label>
             <select id="Tempo" name="Tempo">
                 <option value="Todos">Todos</option>
                 {% for fatoCotasTempo in fatoCotasDimTempo %}
                    <option value="{{ fatoCotasTempo.fk_tempo }}">{{ fatoCotasTempo.fk_tempo }}</option>
                 {% endfor %}
             </select>
          </p>
       </fieldset>

        <p>
            <button type="submit" class="btn btn-primary">
                Exibir
            </button>
        </p>

    </form>

    {% if Post %}
        Mapa Gerado com Sucesso
        <!--<iframe width="1400" height="600">{{ mapaa }}</iframe>-->
    {% else %}
        <!--<iframe src="https://www.meutimao.com.br"></iframe>-->
    {% endif %}

{% endblock content %}